extends layout

block content
    include \partials\header
    p.
     My name is Birhanu Bishaw. I am a second year computer programmer (COPR) student at 
     Georgian College. I have completed most of my coursework at the college and am very happy
     with the program overall. Studying at Georgian offers the added benefit of living in Barrie, which is 
     a very beautiful and quiet city to live in. It has several beautiful waterfronts to relax after a 
     long day of school. Look at the picture below, it is one of my 'secret' hang outs, shhh... don't tell anyone :)
    img(src='/images/Barrie.jpeg', alt='Barrie', style='width:32vw;height:20vw;')
    img(src='/images/Georgian.jpg', alt='Georgian', style='width:32vw;height:20vw;')
    p.
     I have experience in creating small executable programs to solve
     complex problems in engineering, which otherwise take a whole lot of time and become prone to 
     errors. Once I am done with school, I would like to delve into programming on a larger scale.
    p. 
     Please take a look at some of the projects I did for my courses. They are independent projects 
     fully completed by me and evaluated by the respective professor in charge for functionality and completeness.
      