extends layout

block content
    include partials/header.pug
    p Welcome to my personal portfolio website. Explore and have some fun!
    img(src='/images/profile.jpg' id='prof' alt='profile' style='width:336px;height:243px;')