extends layout

block content
    include \partials\header
    p The following is a list of major projects that I did over the past two years:
        ul
            li.
                Interactive keyboard game with customized keypad using Java/JavaFX
            li.
                A nimble to-do list application using JavaScript
            li.
                Dynamic social networking web application using PHP, HTML and CSS
            li.
                Vehicle dealership inventory management application using ASP.NET MVC architecture
            li.
                Arduino based remote controlled sound visualizer and multimode LED display