extends layout

block content
    include partials/header.pug
    p The following is a list of major projects that I did over the past two years:
        ul
            li.
                Interactive keyboard game with customized keypad using Java/JavaFX
            img(src='/images/game.jpg' id='jav' alt='game')
            li.
                A nimble to-do list #[a(href="https://bir.azurewebsites.net/comp1073/project2/" id='dd') application] using JavaScript
            li.
                Dynamic #[a(href="https://bir.azurewebsites.net/finalproject/" id='dd') social networking] web application using PHP, HTML and CSS
            li.
                Vehicle dealership inventory management application using ASP.NET MVC architecture
            li.
                Some fun #[a(href="https://bir.azurewebsites.net/comp1073/project3/" id='dd') JSON based Javascript website] implementing free APIs
            li.
                Arduino based remote controlled sound visualizer and multimode LED display