extends layout

block content
    include partials/header.pug
    p 
        |Before I started school at Georgian, I was offering consultation service to graduate students in engineering
        |on:
        ul
            li.
                Calibration of hysteretic models implemented in the OpenSEES platform
            li.
                Program development using Matlab and tcl to solve structural analysis problems
            li.
                Time-history analysis and structural dynamics solutions