header
    a(href="/") Home &emsp;|
    a(href="/about") &emsp; About Me &emsp;|
    a(href="/projects") &emsp; Projects &emsp;|
    a(href="/services") &emsp; Services &emsp;|
    a(href="/contact") &emsp; Contact Me
    
    hr
    h1= name